.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  font-size: 22px;
  justify-content: center;
  display: flex;
  
}

.text {
  padding-right: 60px;

}
.profile {
  padding-right: 40px;
}
.text04 {
  padding-left: 20px;
}