
.navbar {
  display: flex;
  align-items: center; 
  background-color: #000000;
  padding-top: 20px; 
  padding-bottom: 20px;
  padding-left: 5rem;
  padding-right: 5rem;
  flex-wrap: nowrap; 
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 73rem;
}


.title {
  font-family: Circularstd;
  font-size: 30px;
}

.profile, .mint, .about {
  font-family: Circularstd;
  font-size: 30px;
  margin: 0 1rem; 
  text-decoration: none; 
  color: white; 
}

a {
color: #c3c3c3;
text-decoration: none;
}
a:hover {
 color: white;
 text-decoration:underline;
}

.button {
  font-family: Circularstd;
  font-size: 15px;
  background-color: rgba(99, 133, 150, 0.5);
  color: white; 
  border-radius: 85px; 
  padding: 0.25rem 0.5rem; 
  margin-left: auto; 
  height: 50px;
  width: 150px;
  text-decoration: none; 
}

.button:hover {
  color: #000000;
  background-color: white; 
  cursor: pointer; 
}
/* .navbar {
  display: flex;
  align-items: center; 
  background-color: #000000; 
  padding-left: 5rem;
  padding-right: 5rem;
  flex-wrap: nowrap; 
}

.title {
  order: -1; 
}

.profile, .mint {
  margin: 0 1rem; 
  text-decoration: none; 
  color: white; 
}

a {
color: #FFF;
}
a:hover {
 color: #00F
}

.button {
  background-color: #4CAF50; 
  color: white; 
  border-radius: 4px; 
  padding: 0.25rem 0.5rem; 
  margin-left: auto; 
  text-decoration: none; 
}

.button:hover {
  background-color: #3e8e41; 
  cursor: pointer; 
} */

/* .navbar {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    background-color: #000000; 
    padding-left: 85rem;
    padding-right: 5rem;
    flex-wrap: nowrap; 
}

.title {
}

.profile, .mint {
    margin: 0 1rem; 
    text-decoration: none; 
    color: white; 
}

a {
  color: #FFF;
}
a:hover {
   color: #00F
}

.button {
    background-color: #4CAF50; 
    color: white; 
    border-radius: 4px; 
    padding: 0.25rem 0.5rem; 
    margin-left: auto; 
    text-decoration: none; 
}

.button:hover {
    background-color: #3e8e41; 
    cursor: pointer; 
} */
