.title {
  position: relative;
  top: 40px;
  left:30px;
}
.navbar {
  position: relative;
  top: -40px;
  left:30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  font-size: 22px;
  justify-content: center;
  display: flex;
}
.nft-mint {
  padding-right: 60px;
}
.profile {
  padding-right: 40px;
}
.mint {
  padding-left: 20px;
}
.button {
  border-radius: 12px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

